* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(254, 250, 239) !important;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  background-color: rgb(254, 250, 239) !important;
}

.quiz-card {
  width: 30rem;
}

.question-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz-answer-card:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,
.bg-danger {
  color: white !important;
}

.text-center {
  text-align: center;
}

.replay {
  cursor: pointer;
}

.card {
  display: flex;
}

.progress {
  background-color: #27355b !important;
  border-radius: 0px !important;
}
